// BUTTONS & RELATED ELEMENTS
$btn-border-radius: $border-radius-default;
$btn-text-transform: uppercase;
$btn-font-size: 14px;
$btn-font-family: $imn-button-font;
$btn-font-weight: normal;
$btn-border: 1px solid transparent;
